@model Project

<link rel="stylesheet" href="~/css/components/project.min.css" />

@{
    var sizeClassName = "col-md-12";

    switch (Model.Size)
    {
        case ProjectSize.Big:
            sizeClassName = "col-md-12";
            break;

        case ProjectSize.Middle:
            sizeClassName = "col-md-8";
            break;

        case ProjectSize.Small:
            sizeClassName = "col-md-4";
            break;
    }
}

<div class="@sizeClassName">
    <a class="btn-edit btn btn-warning">Edit</a>
    <div class="fh5co-blog">
        <input type="hidden" value="@Model.Id" />
        <div class="blog-imgbox">
            <a class="blog-bg" style="background-image:url(@Model.CoverUrl);" href="@Model.Link" target="_blank"></a>
        </div>
        <div class="blog-text">
            <h3>@Model.Name</h3>
            <p class="detail">@Model.Detail</p>
            <ul class="stuff">
                <li>
                    <a href="@Model.Link" target="_blank">@Model.Tip</a>
                </li>
            </ul>
        </div>
    </div>
</div>