@model CoreHome.HomePage.ViewModels.DetailViewModel

@{
    ViewData["Title"] = "Detail";
}

<link rel="stylesheet" href="~/css/blog/detail.min.css" />

<input id="warning" type="hidden" value="@ViewBag.Warning" />
<div class="container mt-4 mb-5">
    <div class="row post">

        <aside class="col-lg-3 d-none d-lg-block">

            @await Component.InvokeAsync("TopTags")
            <br />
            @await Component.InvokeAsync("Categories")

        </aside>

        <selection class="col-lg-9 col-md-12">
            <article>
                <header class="post-header">
                    <h4 class="post-title">@Model.Article.Title</h4>
                    <hr class="d-none d-md-block post-header-hr">

                    <div class="d-none d-md-block post-publish-info mb-2">
                        <strong class="text-muted">
                            <span>@Model.Article.Time.ToString()</span>
                            | China Standard Time
                        </strong>
                    </div>

                    <p>
                        @Model.Article.Overview
                    </p>

                    <div class="hidden-print">
                        <section class="post-cat-tag-info">
                            <div class="float-right d-none d-md-block">
                                <span class="toptags-list toptags-list-sm">
                                    @for (var i = 0; i < Model.Article.ArticleTags.Count; i++)
                                    {
                                        <a class="btn btn-primary" asp-controller="Blog" asp-action="Tags" asp-route-id="@Model.Article.ArticleTags[i].Tag.TagName">
                                            @Model.Article.ArticleTags[i].Tag.TagName
                                        </a>
                                    }
                                </span>
                            </div>
                            <ul class="d-flex flex-row list-unstyled ul-cat-list-desktop mb-0">
                                <li>
                                    <a class="btn btn-sm btn-outline-success" asp-controller="Blog" asp-action="Categories" asp-route-id="@Model.Article.Category.CategoriesName">
                                        @Model.Article.Category.CategoriesName
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>

                    <hr class="post-header-hr">
                </header>

                <section class="post-content clearfix markdown">
                    <textarea hidden>@Model.Article.Content</textarea>
                </section>

                <hr class="post-header-hr">
            </article>

            <form asp-controller="Blog" asp-action="Detail" method="post">
                <input type="hidden" value="@Model.Article.ArticleCode" name="ArticleCode"/>
                <textarea class="form-control" rows="4" placeholder="评论（支持MarkDown）" maxlength="1024" name="Detail">@Model.CommentViewModel.Detail</textarea>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <img id="verfyImg" onclick="getVerfyCode(this)" src="/Service/VerificationCode" />
                            <input id="verificationCode" type="text" class="form-control" placeholder="验证码" name="VerificationCode" value="@Model.CommentViewModel.VerificationCode"/>
                        </div>
                    </div>
                    <div class="col">
                        <input id="btn_submit" type="submit" class="btn btn-success float-right" value="提交" />
                    </div>
                </div>
            </form>

            <div id="comments">

                @for (var i = 0; i < Model.Article.Comments.Count; i++)
                {
                        <div class="card comment-item">
                            <div class="card-header">
                                <strong>@Model.Article.Comments[i].Time</strong>
                            </div>

                            <div class="card-body markdown">
                                <textarea hidden>@Model.Article.Comments[i].Detail</textarea>
                            </div>
                        </div>
                }

            </div>
        </selection>

        <script>
            var warning = document.querySelector("#warning").value;
            if (warning != "") {
                alert(warning);
            }
        </script>

        <partial name="MarkdownRender" />
    </div>
</div>