@model CoreHome.Data.Model.Article

<div>
    <div id="wrapper">

        <link rel="stylesheet" href="~/css/blog/shared.min.css" />
        <link rel="stylesheet" href="~/lib/highlight.js/styles/default.css" />
        <script src="~/lib/highlight.js/lib/highlight.js"></script>
        <script src="~/js/blog/detail.min.js"></script>

        <!-- 文章列表 -->
        <div id="main">

            <!-- 文章 -->
            <article class="post">
                <header>
                    <div class="title">

                        <!--标题-->
                        <h2 id="title">@Model.Title</h2>
                        <!--标签-->
                        <p>
                            @foreach (var articleTag in Model.ArticleTags)
                            {
                                var tagStr = "#" + articleTag.Tag.TagName;
                                <a class="footerlink"><u>@tagStr</u></a>
                            }
                        </p>
                        <!--概述-->
                        <h3>
                            <strong>@Model.Overview</strong>
                        </h3>

                    </div>
                    <div class="meta">
                        <h2 class="published">@Model.Time</h2>
                        <a href="#" class="author">
                            <h2 class="name">LLLXY</h2>
                            <img src="/favicon.ico" />
                        </a>
                    </div>
                </header>

                <!--封面-->
                <a class="image featured" style="max-height:300px;"><img src="@Model.CoverUrl" style="width:100%;" /></a>
                <!--内容-->
                <div id="detail" class="container">@Html.Raw(Model.Content)</div>

            </article>

            <!--评论模块-->
            <input id="articleid" name="id" type="hidden" value="@Model.ArticleCode" />
            <!--评论输入框-->
            <div class="control-group">
                <div class="controls">
                    <textarea id="message" name="message" rows="3" maxlength="150" class="form-control" placeholder="评论"></textarea>
                </div>

                <div class="pull-right">
                    <img id="verfyImg" onclick="getVerfyCode('verfyImg')" src="/Home/VerificationCode" class="img-thumbnail">
                    <input id="verfyInput" name="code" type="text" class="form-control" placeholder="请输入验证码">

                    <!--提交按钮-->
                    <button id="btn_submit" class="btn btn-primary" onclick="submit()">提交</button>
                </div>
            </div>

            <!--评论列表-->
            <div id="comment">
                <h2>评论列表</h2>

                @{
                    var comments = Model.Comments;
                    if (comments.Count > 10)
                    {
                        comments = comments.Take(10).ToList();
                    }
                }

                @foreach (var item in comments)
                {
                    <p>@item.Detail</p>
                }

            </div>

            <ul class="actions pagination">
                <li><button onclick="history.back(-1)" class="btn btn-default navbar-btn">返回</button></li>
            </ul>

        </div>
    </div>

    <!--初始化文章-->
    <script>
        hljs.initHighlighting();
    </script>
</div>