@model List<Article>

@{
    ViewData["Title"] = "Blog";
}

<link rel="stylesheet" href="~/css/blog/index.min.css" />

<div class="container mt-4 mb-5">
    <div class="row post">

        <aside class="col-lg-3 d-none d-lg-block">

            @await Component.InvokeAsync("TopTags")
            <br />
            @await Component.InvokeAsync("Categories")

        </aside>

        <selection class="col-lg-9 col-md-12">
            <h2 class="display-4">@ViewBag.Warning</h2>
            <hr />

            <div id="postdiv">

                @foreach (var article in Model)
                {
                        <article>
                            <a class="articleTitle" asp-controller="Blog" asp-action="Detail" asp-route-id="@article.ArticleCode">
                                @article.Title
                            </a>
                            <p class="date">@article.Time.ToString("yyyy/MM/dd")</p>
                            <p>@article.Overview</p>
                            <div class="post-tags">
                                @{
                                    var articleTags = article.ArticleTags;
                                }

                                @foreach (var articleTag in articleTags)
                                {
                                        <a class="btn btn-primary mb-1" asp-action="Tags" asp-route-id="@articleTag.Tag.TagName">
                                            @articleTag.Tag.TagName
                                        </a>
                                }
                            </div>
                        </article>
                        <div class="mb-4 d-md-block"></div>
                        <hr class="d-md-block" />
                }
            </div>

            @if (ViewBag.Pagination != null)
            {
                <partial name="Pagination" model="@ViewBag.Pagination"/>
            }

        </selection>

    </div>
</div>