@model List<Article>

<div>
    <h1 class="display-4">Blog</h1>
    <br />
    <a asp-action="Upload" class="btn btn-primary">Upload Blog</a>
    <br /><br />

    <div class="overflow-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="2">#</th>
                    <th scope="col" colspan="2">Date</th>
                    <th scope="col" colspan="5">ArticleTitle</th>
                    <th scope="col" colspan="1">Modify</th>
                    <th scope="col" colspan="1">Comment</th>
                    <th scope="col" colspan="1">Delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var article in Model)
                {
                    <tr>
                        <th colspan="2">@article.ArticleCode.ToString().Substring(0, 6)</th>
                        <td colspan="2">@article.Time.ToString("yyyy/MM/dd")</td>
                        <td colspan="5">@article.Title</td>
                        <td colspan="1"><a asp-action="Modify" asp-route-id="@article.ArticleCode" class="badge badge-warning">Modify</a></td>
                        <td colspan="1"><a asp-action="Comment" asp-route-id="@article.ArticleCode" class="badge badge-info">Comment</a></td>
                        <td colspan="1">
                            @await Component.InvokeAsync("ConfirmLink", new ConfirmLink()
                            {
                                Href = "/Admin/Blog/Delete/",
                                Text = "Delete",
                                ClassName = "badge badge-danger",
                                Warning = "Confirm deletion?",
                                Paras = new()
                                {
                                    { "id", article.ArticleCode.ToString() }
                                }
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (ViewBag.Pagination != null)
    {
        <partial name="Pagination" model="@ViewBag.Pagination" />
    }
</div>
