@model List<Article>

<div class="container">

    <h1 class="display-4">Blog</h1>
    <br />
    <a asp-action="Upload" class="btn btn-primary">上传博客</a>
    <br />
    <br />


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ArticleCode</th>
                <th scope="col">ArticleTitle</th>
                <th scope="col">Modify</th>
                <th scope="col">Comment</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

          <tbody>
              @foreach (var article in Model)
              {
                    <tr>
                        <th scope="row">@article.ArticleCode</th>
                        <td>@article.Title</td>
                        <td><a asp-action="Modify" asp-route-id="@article.ArticleCode">Modify</a></td>
                        <td><a asp-action="Comment" asp-route-id="@article.ArticleCode">Comment</a></td>
                        <td><a asp-action="Delete" asp-route-id="@article.ArticleCode">Delete</a></td>
                    </tr>
              }
          </tbody>
    </table>

</div>