@model CoreHome.Infrastructure.Models.Theme

<link rel="stylesheet" href="~/css/theme/index.min.css" />
<script src="~/js/theme/index.min.js"></script>

<div class="container">

    <form asp-controller="Theme" asp-action="Index" method="post">

        <div class="section">
            <h1 class="display-4">Bgm</h1>
            <br />
            <input class="form-control" asp-for="MusicUrl" autocomplete="off" placeholder="Random Music"/>
        </div>

        <div class="section">
            <h1 class="display-4">Theme</h1>
            <br />
            <div class="row no-gutters">

                <div class="col-md-4 mt-3">
                    <div class="card mb-2 tests-card h-100">
                        <div class="card-body" onclick="changeTheme('auto')">
                            <label>
                                <input class="ThemeType" id="auto" type="radio" name="ThemeType" value="@ThemeType.Auto"
                                       @if (Model.ThemeType == ThemeType.Auto) { Write("checked"); } /> Auto
                            </label>
                            <br />
                            <img src="https://corehome.oss-accelerate.aliyuncs.com/images/themetype-auto.jpg" class="img-rounded" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <div class="card mb-2 tests-card h-100">
                        <div class="card-body" onclick="changeTheme('white')">
                            <label>
                                <input class="ThemeType" id="white" type="radio" name="ThemeType" value="@ThemeType.White"
                                       @if (Model.ThemeType == ThemeType.White) { Write("checked"); } /> White
                            </label>
                            <br />
                            <img src="https://corehome.oss-accelerate.aliyuncs.com/images/themetype-white.jpg" class="img-rounded" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <div class="card mb-2 tests-card h-100">
                        <div class="card-body" onclick="changeTheme('black')">
                            <label>
                                <input class="ThemeType" id="black" type="radio" name="ThemeType" value="@ThemeType.Black"
                                       @if (Model.ThemeType == ThemeType.Black) { Write("checked"); } /> Black
                            </label>
                            <br />
                            <img src="https://corehome.oss-accelerate.aliyuncs.com/images/themetype-black.jpg" class="img-rounded" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section">
            <h1 class="display-4">Background</h1>
            <br />
            <div class="row no-gutters">

                <div class="col-md-4 mt-3">
                    <div class="card mb-2 tests-card h-100">
                        <div class="card-body" onclick="changeBackground('color')">
                            <label>
                                <input class="BackgroundType" id="color" type="radio" name="BackgroundType" value="@BackgroundType.Color"
                                       @if (Model.BackgroundType == BackgroundType.Color) { Write("checked"); } /> Color
                            </label>
                            <br />
                            <img src="https://corehome.oss-accelerate.aliyuncs.com/images/backgroundtype-color.jpg" class="img-rounded" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <div class="card mb-2 tests-card h-100">
                        <div class="card-body" onclick="changeBackground('bing')">
                            <label>
                                <input class="BackgroundType" id="bing" type="radio" name="BackgroundType" value="@BackgroundType.Bing"
                                       @if (Model.BackgroundType == BackgroundType.Bing) { Write("checked"); } /> Bing
                            </label>
                            <br />
                            <img src="https://corehome.oss-accelerate.aliyuncs.com/images/backgroundtype-bing.jpg" class="img-rounded" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <div class="card mb-2 tests-card h-100">
                        <div class="card-body" onclick="selectImage()">
                            <label>
                                <input class="BackgroundType" id="custom" type="radio" name="BackgroundType" value="@BackgroundType.Custom"
                                       @if (Model.BackgroundType == BackgroundType.Custom) { Write("checked"); } /> Custom
                                <input id="fileSelector" type="file" onchange="uploadBackground()" hidden />
                            </label>
                            <br />
                            <img src="https://corehome.oss-accelerate.aliyuncs.com/images/backgroundtype-image.jpg" class="img-rounded" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section">
            <button class="btn btn-primary" onclick="apply_onclick()">Apply</button>
        </div>

    </form>
</div>
