<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
    @this.UseAiurMarketCss()
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/_layout.min.css" />
    <link rel="stylesheet" href="~/css/overview/site.css" />
</head>
<body>
    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <ul>
                    <li><a asp-controller="Overview" asp-action="Index">Overview</a></li>
                    <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                    <li><a href="#">App</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - LLLXY</p>
        </footer>
        @this.UseAiurMarketJs()
        <script src="@ServiceLocation.UI/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
        <vc:scroll-to-top></vc:scroll-to-top>
        <script src="~/js/overview/ws.js"></script>
        <script src="~/js/overview/http.js"></script>
        <script src="~/js/overview/down.js"></script>
        <script src="~/js/overview/site.js"></script>
        @RenderSection("scripts", required: false)
        <script>
            if(window.location.href.toLowerCase().indexOf("overview")>0){
                startAll();
            }
        </script>
    </div>

</body>
</html>
