@model DataContext.Models.Article

<div>
    <div id="wrapper">

        <link rel="stylesheet" href="~/css/blog/shared.css" />
        <link rel="stylesheet" href="~/lib/HighLightJS/css/default.css" />
        <script src="~/lib/HighLightJS/js/highlight.pack.js"></script>
        <script src="~/lib/HighLightJS/js/highlightjs-line-numbers.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="~/js/blog/detail.js"></script>

        <!-- 文章列表 -->
        <div id="main">

            <!-- 文章 -->
            <article class="post">
                <header>
                    <div class="title">

                        <!--标题-->
                        <h2 id="title">@Model.Title</h2>

                        <!--概述-->
                        <h3>
                            <strong>@Model.Overview</strong>
                        </h3>

                    </div>
                    <div class="meta">
                        <h2 class="published">@Model.Time</h2>
                        <a href="#" class="author">
                            <h2 class="name">LLLXY</h2>
                            <img src="/favicon.ico" />
                        </a>
                    </div>
                </header>

                <!--封面-->
                <a class="image featured" style="max-height:300px;"><img src="@Model.Cover" style="width:100%;" /></a>
                <!--内容-->
                <div id="detail"></div>

                <input id="md" type="hidden" value="@Model.Content" />

            </article>

            <!--评论模块-->
            <form method="post" asp-controller="Blog" asp-action="Comment">
                <input name="id" type="hidden" value="@Model.ID" />
                <!--评论输入框-->
                <div id="detail" class="control-group">
                    <div class="controls">
                        <textarea name="detail" rows="3" maxlength="150" class="form-control" placeholder="评论"></textarea>
                    </div>
                    <!--提交按钮-->
                    <button type="submit" class="btn btn-primary pull-right">提交</button><br />
                </div>
            </form>

            <!--评论列表-->
            <h2>评论列表</h2>

            @foreach (var item in Model.Comments)
            {
                <p>@item.Detail</p>
            }


            <ul class="actions pagination">
                <li><button onclick="history.back(-1)" class="btn btn-default navbar-btn">返回</button></li>
            </ul>

        </div>
    </div>

    <!--初始化文章-->
    <script>initPage();</script>
</div>