@model List<Article>

<div id="wrapper">

    <link rel="stylesheet" href="~/css/blog/shared.min.css" />

    <!-- 文章列表 -->
    <div id="main">

        <h1 style="text-align:center;">@ViewBag.Warning</h1>
        <h1 style="text-align:center;">第 @(ViewBag.CurrentIndex + 1) 页 / 共 @ViewBag.LastPage 页</h1>

        <div>
            <div class="col-md-2">
                <input type="text" placeholder="Search" class="form-control" />
                <br />
                <div class="post" style="text-align:center;">
                    <h4>Top Tag</h4>
                    <button class="btn">分类1</button>
                    <button class="btn">分类2</button>
                    <button class="btn">分类3</button>
                    <button class="btn">分类4</button>
                    <button class="btn">分类5</button>
                    <button class="btn">分类6</button>
                    <button class="btn">分类7</button>
                    <br />
                </div>
            </div>

            <div class="col-md-10">

                @foreach (Article article in Model)
                {
                    <!-- 文章 -->
                    <article class="post">
                        <header>
                            <div class="title">
                                <!--标题-->
                                <h2>@article.Title</h2>
                                <!--标签-->
                                <p>
                                    @foreach (var tag in article.Tags)
                                    {
                                        var tagStr = "#" + tag.TagName;
                                        <a class="footerlink"><u>@tagStr</u></a>
                                    }
                                </p>
                                <!--简述-->
                                <h3>@article.Overview</h3>
                            </div>
                            <div class="meta">
                                <h2 class="published">
                                    @article.Time
                                </h2>
                                <a href="#" class="author">
                                    <h2 class="name">LLLXY</h2>
                                    <img src="/favicon.ico" />
                                </a>
                            </div>
                        </header>
                        <!--封面-->
                        <a class="image featured" style="max-height:300px;" href="Blog/Detail?articleid=@article.ArticleID">
                            <img src="@article.Cover" style="width:100%;" />
                        </a>
                        <footer>
                            <ul class="actions">
                                <li><a href="Blog/Detail?articleid=@article.ArticleID" class="btn btn-default navbar-btn">查看全文</a></li>
                                @if (ViewBag.LastRead == article.ArticleID)
                                {
                                    <li class="lastReadTag">上次阅读</li>
                                }
                            </ul>
                        </footer>
                    </article>
                }
            </div>
        </div>

        <!-- 页面导航 -->
        <div class="text-center">
            <h1>第 @(ViewBag.CurrentIndex + 1) 页 / 共 @ViewBag.LastPage 页</h1>
            <ul class="actions pagination">
                <li class="btn_changepage"><button onclick="window.location.href='blog?index=@(ViewBag.CurrentIndex-1)';" class="btn btn-default navbar-btn">上一页</button></li>
                <li class="btn_changepage"><button onclick="window.location.href='blog?index=@(ViewBag.CurrentIndex+1)';" class="btn btn-default navbar-btn">下一页</button></li>
            </ul>
        </div>

    </div>

</div>