<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="LLLXY,lixinyang,李新阳" />
    <meta name="description" content="LLLXY | Admin" />

    <meta property="og:locale" content="zh_cn" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ProfileService.Config.Name" />
    <meta property="og:description" content="@ProfileService.Config.Name | Admin" />
    <meta property="og:site_name" content="@ProfileService.Config.Name" />
    <meta property="og:image" content="@OssService.GetAvatar()" />

    <title>@ViewBag.PageTitle | Admin</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/open-iconic/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/_layout.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <app>
        <div class="sidebar">

            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" asp-controller="Overview" asp-action="Index">Admin | @ProfileService.Config.Name</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Overview" asp-action="Index">
                            <span class="oi oi-home"></span> Overview
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Profile" asp-action="Index">
                            <span class="oi oi-person"></span> Profile
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Project" asp-action="Index">
                            <span class="oi oi-project"></span> Project
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Theme" asp-action="Index">
                            <span class="oi oi-sun"></span> Theme
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">
                            <span class="oi oi-script"></span> Blog
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Home" asp-action="Logout">
                            <span class="oi oi-account-logout"></span> Exit
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="main">
            @RenderBody()
        </div>

    </app>
</body>
</html>
